---
layout: default
---
<h1>
  <span class="site-title">Miguel Hernández</span>
  <span class="site-description">Computer Engineer</span>
</h1>
<div class="header-icons">
  <a aria-label="My public PGP key" href="{% link pubkey.txt %}"><i class="icon fa fa-lock" aria-hidden="true"></i></a>
  <a aria-label="Send email" href="mailto:me@mhdez.com"><i class="icon fa fa-envelope"></i></a>
  <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
  <a aria-label="My GitHub" target="_blank" href="https://github.com/{{ site.username }}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
  <a aria-label="My GitLab" target="_blank" href="https://gitlab.com/{{ site.username }}"><i class="icon fa fa-gitlab" aria-hidden="true"></i></a>
  <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{ site.username }}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
  <a aria-label="My Last.fm" target="_blank" href="https://www.last.fm/user/{{ site.username }}"><i class="icon fa fa-lastfm" aria-hidden="true"></i></a>
</div>
